{% extends 'racetime/base.html' %}

{% block title %}
    Account settings |
{% endblock %}

{% block main %}
    <h2>Delete account</h2>
    <p>
        Are you sure you want to delete your Z1RR RaceTime account? All your
        data will be immediately and <strong>permanently</strong> erased.
    </p>
    <p>
        This action cannot be undone.
    </p>
    <ul style="margin: 1em">
        <li>Account name: <strong>{{ user.name }}</strong></li>
    </ul>
    <p>
        <strong>Important:</strong> If deletion cannot be completed, contact
        the Z1RR operators for assistance.
    </p>
    <form method="post">
        {% csrf_token %}
        <button class="btn dangerous" type="submit" name="allow">Yes, delete my account</button>
        <a class="btn" href="{% url 'edit_account' %}">Cancel</a>
    </form>
{% endblock %}
